.content {
    width: 100%;
    padding-top: 30px;
    overflow: hidden;
    position: relative;
}

.filter-product,.products{
    margin-top: 40px;
    border: 2px solid white;
    border-radius: 10px;
}

.filter-product{
    height: 100px
}

.products{
    margin: 30px auto;
    width: 85%;
    height: 650px;
    overflow: auto;
    padding: 20px;
}

.product{
    height: 450px;
    transition: .4s ease;
    border-radius: 10px;
}

.product:hover{
    transform: scale(1.05);
}

.card-img-top{
    width: auto;
    height: 160px;
    margin: 20px;
    display: block;
    transition: 0.4s ease;
}

.card-img-top:hover{
    transform: translateY(5px);
}

.card-body{
    width: 100%;
    background-color: black;
}

h5.card-title{
    height: 45%;
    font-size: 20px
}

.card-text{
    height: 30%;
    font-size: 15px;
}

h3.card-title{
    font-size: 20px;
}

.card-footer{
    width: 100%;
    background-color: black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.shopping-cart{
    position: absolute;
    top: 20px;
    right: 20px;
    color:white;
    font-size: 30px;
    cursor: pointer;
}

.side-cart{
    position: absolute;
    top: 0;
    right: -100%;
    width: 50%;
    height: 100%;
    padding: 20px;
    background-color: black;
    transition: 0.4s ease;
}

.overlay{
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
}

button{
    border: none;
    background: none;
    color: white;
    font-size: 2rem;
    margin-left: auto;
}

.btn-cart{
    border: 1px solid white;
    color: white;
    font-weight: 600;
    padding: 10px 20px;
    transition: .7s ease;
}

.btn-cart:hover{
    color: blue;
    box-shadow: inset 20em 0 0 0 white;
}

.btn-cart.remove:hover{
    color: red;
}

.tab-content{
    height: 400px
}

.nav-tabs{
    border: none;
    height: 60px;
}

.nav-tabs .nav-link{
    border: 1px solid black;
    margin: 0 5px;
    border-radius: 50%;
    font-size: 13px;
    line-height: 1;
    font-weight: 500;
    color:white;
    padding: 0;
    width: 30px;
    height: 30px;
}

.modal-dialog{
    max-width: 70%;
    height: 70%;
    transition: .5s ease;
}

.modal-dialog.report{
    max-width: 50%;
    height: 50%;
    text-align: center;
    font-size: 40px;
}
.modal-content{
    background-color: black;
    border-radius: 20px;
    border: 4px solid white;
    height: 100%;
    color: white;
    overflow: hidden;
    padding: 50px
}

.modal-body{
    transition: .5s ease;
}

.modal-footer{
    height: 10%;
    border-top: none;
}

.item-order{
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}

.hr{
    border-top: 2px solid white;
    font-weight: 600;
    font-size: 20px
}